<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Sample Project</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
  			<h1>Hello!</h1>
            <h4>Please enter a stock ticker.</h4>
    			<form id='input' method='post' action='index'>	
	  			<p>
					Ticker symbol: <input type='text' name='ticker' />
	  			</p>
		</div>
	</body>
</html>